# Environnement virtuel
venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# VS Code
.vscode/
/src/data/
/src/lien_file.py
*.db
*.db-journal
src/visualisation/*.json
ios/
node_modules/
android/
capacitor.config.json
package-lock.json
package.json
www/
