# Environnement virtuel
venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# VS Code
.vscode/

#JSON
C:\Users\Gwénaël\OneDrive\Bureau\ENAC\Programmation\projet_GPS\src\data\routes_haute_precision.json